@model book.Models.Pret
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
 <h1 class="titrePrincipal">Modifier un prêt</h1>   
    <div class="card m-auto">
      <div class="card-body">
          <form action="Editer" name="formEdit" method="post">
              <div class="input-group input-group-lg mb-3">
                 <div class="input-group-prepend input-size">
                    <span class="input-group-text" id="addon1"><i class="fas fa-hashtag fa-2x"></i></span>
                    <input type="text" class="form-control " name="code" id="num" placeholder="Code du membre" aria-label="Code" aria-describedby="addon1">
                 </div>
              </div>
              <button class="btn btn-dark" onclick="formEdit.submit().trim();"> Modifier </button>
             
          </form>
      </div>
    </div>
</div>

